@import "./reset.css";
@import "./normalize.css";


*, *::after,*::before{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: .25rem;
    font-size: 12px;
}

h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}

header, section, article{
    padding: .5rem;
}

p, ul, li, a{
    padding: .15rem;
}


header h2{
    font-size: 1rem;
}

nav{
    width: 100%;
    height: 100%;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

p, ul{
    font-size: .8rem;
    padding: .25rem;
}


a{
    color: black;
}

ul:not(nav ul){
    list-style: unset;
    margin-left: 1rem;
}

nav ul a{
    text-decoration: none;
}

a:hover{
    background-color: black;
    color: white;
}

nav a:hover{
    background-color: #a9a9a9;
    color: white;
} 



header{
    display: block;
    background-color: #a9a9a9;
    color: white;
}

#content{
    float: right;
    width: 85%;    
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:#a9a9a9;
    color: white;
    font-weight: bold;
    text-align: center;

}


@media screen and (min-width: 750px) {
    nav{
        float: left;
        width: 15%;
    }

    #content{
        float: right;
        width: 85%;
    }
}


