@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ff-primaria: 'Roboto', sans-serif;
    --ff-secundaria: 'Open Sans', sans-serif;

    --color-fondo-pagina: hsl(210, 36%, 96%);
    --color-letra-1: hsl(209,61%,16%);
    --color-letra-2: hsl(210,22%,49%);
    --color-letra-3: #222;
    --color-letra-4: #fff;
    --spacing: .1rem;
    --radius: .25rem;
    font: 16px/1.5 var(--ff-secundaria);
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-fondo-pagina);
}


/*=============================================
=            Estilos del main            =
=============================================*/


main{
    flex: 1;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.contenedor{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*=====  End of Estilos del main  ======*/


/*=============================================
=            Estilos del pie            =
=============================================*/

footer{
    padding: .5rem;
}

/*=====  End of Estilos del pie  ======*/
