@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ff-primaria: 'Roboto', sans-serif;
    --ff-secundaria: 'Open Sans', sans-serif;

    --color-fondo-pagina: hsl(210, 36%, 96%);
    --color-letra-1: hsl(209,61%,16%);
    --color-letra-2: hsl(210,22%,49%);
    --color-letra-3: #222;
    --color-letra-4: #fff;
    --spacing: .1rem;
    --radius: .25rem;
    font: 16px/1.5 var(--ff-secundaria);
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-fondo-pagina);
    color: var(--color-letra-1);
}

h1{
    font-size: 4rem;
}

h1, h2, h3, h4{
    font-family: var(--ff-primaria);
    letter-spacing: var(--spacing);
}


/*=============================================
=            Estilos del main            =
=============================================*/


main{
    flex: 1;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.contenedor{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#valor {
    font-size: 7rem;
}

.btn{
    text-transform: uppercase;
    padding: .375rem .75rem;
    color: var(--color-letra-3);
    letter-spacing: .1rem;
    border: 2px solid var(--color-letra-3);
    border-radius: var(--radius);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor:n-resize;
    transition: all .3s linear;
}

.btn-contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.btn:hover{
    background-color: var(--color-letra-3);
    color: var(--color-letra-4);
}

/*=====  End of Estilos del main  ======*/


/*=============================================
=            Estilos del pie            =
=============================================*/

footer{
    padding: .5rem;
    text-align: center;
}

/*=====  End of Estilos del pie  ======*/
