@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-cabecera-pie: #004ca8;
    font-size: 12px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}



body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


img {
    width: 100%;
    object-fit: cover;
}

.logo {
    max-width: 130px;
    display: inline-block;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
}

/*=============================================
=            Estilos cabecera            =
=============================================*/


.cabecera {
    background-color: var(--bg-cabecera-pie);
}

nav a {
    font-size: 1.2rem;
}

#menu {
    padding:.25rem 1rem;
}
#menu ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.portada {
    background: #c6c6c6 url(../img/artico.jpg);
    background-position: center;
    background-blend-mode: soft-light;
    background-size: cover;
    padding: 4rem;
}

.portada section {
    max-width: 60%;
}

.portada h2 {
    color: #d7192d;
    line-height: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.portada h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500 bold;
    text-transform: uppercase;
}

.portada button {
    padding: 1rem;
    background-color: #d7192de6;
    border: none;
    width: 160px;
}




/*=============================================
=            Estilos Main            =
=============================================*/

main section, main ul{
    padding: 1rem;
}
.cards{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.card figure{
    max-width: 600px;
    max-height: 300px;
    overflow: hidden;
}


.columna4{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*=====  End of Estilos Main  ======*/

/*=============================================
=            Estilos del footer            =
=============================================*/
footer{
    background-color: var(--bg-cabecera-pie);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
}
.lista-fila{
    display: flex;
    gap: .5rem;
    list-style: none;
    font-size: 2rem;
}

.lista-fila a{
    text-decoration: none;
        color: white;
}

/*=====  End of Estilos del footer  ======*/



/*=============================================
=            Media queries            =
=============================================*/
@media screen and (min-width: 600px) {
    :root {
        font-size: 14px;
        --alto-menu: 10vh;
    }
  
    main{
        display: grid;
        grid-template-areas: 
            "menu cuerpo"
            "menu cuerpo"
            "menu cuerpo"
            "menu cuerpo";
    }
    #menu{
        grid-area: menu;
        height: 100%;
        background-color: var(--bg-cabecera-pie);
    }
    #menu ul {
        flex-direction: column;
    }
    
    #menu ul a{
        color: white;

    }
}