@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-cabecera-pie: #004ca8;
    font-size: 12px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}



body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

figure{

}

img {
    width: 100%;
    object-fit: cover;
}

.logo {
    max-width: 130px;
    display: inline-block;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
}

/*=============================================
=            Estilos cabecera            =
=============================================*/


.cabecera {
    background-color: var(--bg-cabecera-pie);
}

#menu-escritorio {
    position: absolute;
    top: -200vw;
    width: 200px;
}

#menu-movil {
    width: 100%;
    padding: .5rem 1.5rem;
}

nav a {
    font-size: 1.2rem;
}

#menu-movil ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.portada {
    background: #c6c6c6 url(../img/artico.jpg);
    background-position: center;
    background-blend-mode: soft-light;
    background-size: cover;
    padding: 4rem;
}

.portada section {
    max-width: 60%;
}

.portada h2 {
    color: #d7192d;
    line-height: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.portada h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500 bold;
    text-transform: uppercase;
}

.portada button {
    padding: 1rem;
    background-color: #d7192de6;
    border: none;
    width: 160px;
}




/*=============================================
=            Estilos Main            =
=============================================*/

main section, main ul{
    padding: 1rem;
}
.cards{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.card figure{
    max-width: 600px;
    max-height: 300px;
    overflow: hidden;
}


.columna4{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*=====  End of Estilos Main  ======*/



/*=============================================
=            Media queries            =
=============================================*/
@media screen and (min-width: 600px) {
    :root {
        font-size: 14px;
        --alto-menu: 10vh;
    }
    .cabecera{
        height: var(--alto-menu);
    }
    #menu-escritorio {
        padding: 2rem;
        position: absolute;
        top: var(--alto-menu);
        background-color: var(--bg-cabecera-pie);
        height: calc(100vh - var(--alto-menu));
        border-top: 1px solid #c3c3c3;
    }

    #menu-escritorio ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #menu-escritorio a{
        color: white;
    }
    #menu-movil {
        position: absolute;
        top: -200vw;
    }

main{
    margin-left: 200px;
}


}

