.bird {
  background-image: url("../img/bird-cells-new.svg");
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  /* will-change optimiza las animaciones al permitir que el navegador sepa qué propiedades 
  y elementos están a punto de ser manipulados, aumentando potencialmente el rendimiento de esa operación en particular.*/
  will-change: backround-position;
  animation-name: fly-cycle;
  /*steps()es una función de temporización que nos permite dividir una animación o transición en segmentos, 
  en lugar de una transición continua de un estado a otro. 
  La función toma dos parámetros: el primero especifica el número positivo de pasos que queremos que 
  tome nuestra animación.
  steps(<number_of_steps>, <direction>)
  En este caso solo pasamos uno por lo tanto indica que los pasos se hacen cada 10 segmentos,
  tantos como pájaros tiene el svg original*/
  /* creamos una animación con continuidad infinita que muestre cada transición de la imagen del pájaro*/
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}

.bird--one{
  animation-duration: 1s;
  animation-delay: -0.5s;
}

/* .bird--two{
 animation-duration: 0.9s; 
 animation-delay: -0.75s;
} */
.bird--three{
  animation-duration: 1.25s; 
  animation-delay: -0.25s;
 }
 .bird--four{
  animation-duration: 1.1s; 
  animation-delay: -0.5s;
 }

.bird-container {
  position: absolute;
  top: 20%;
  left: -10%;
  -webkit-transform: scale(0) translateX(-10vw);
  transform: scale(0) translateX(-10vw);
  -moz-transform: scale(0) translateX(-10vw);
  -o-transform: scale(0) translateX(-10vw);

  /*Esto permitirá que el navegador prepare la transición 
        con anticipación y permitirá transiciones rápidas entre las páginas
         tan pronto como se presione la tecla. Pero will-change cuidado con
          la propiedad will-change directamente en las hojas de estilo. 
          Puede hacer que el navegador mantenga la optimización en la 
          memoria durante mucho más tiempo del necesario.
          Esto es, lo que hace es facilitar el rendimiento del navegador (UA)
           a la hora de manejar las páginas y su renderizado, pues de antemano 
           sabe qué elementos van a sufrir qué cambios
           y de esta manera estar preparado para cuando sucedan. */
  will-change: transform;
  animation: fly-right-one linear infinite;
}

.bird-container--one{
  animation-duration: 15s;
  animation-delay: 0s;
}

.bird-container--two{
  animation-duration: 15s;
  animation-delay: 1s;
}

.bird-container--three{
  animation-duration: 14.6s;
  animation-delay: 9.5s;
}

.bird-container--four{
  animation-duration: 16s;
  animation-delay: 10.25s;
}

@keyframes fly-cycle{
  100%{
    background-position: 900px;
  }
}

@keyframes fly-right-one{
  0%{
    transform: scale(0.3) translateX(-10vw);
  }
  10%{
    transform: scale(0.4) translateX(10vw) translateY(2vh);
  }
  20%{
    transform: scale(0.5) translateX(30vw) translateY(0vh);
  }
  30%{
    transform: scale(0.6) translateX(50vw) translateY(4vh);
  }
  40%{
    transform: scale(0.6) translateX(70vw) translateY(2vh);
  }
  50%{
    transform: scale(0.6) translateX(90vw) translateY(0vh);
  }
  60%{
    transform: scale(0.6) translateX(110vw) translateY(0vh);
  }
  100% {
    transform: scale(0.6) translateX(110vw) translateY(0vh);
  }
}




