*,*::before,*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

