*,*::before,*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: lightgrey;
}

div{
    min-width: 280px;
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 1);
    padding: 20px;
    border-radius: 20px;
    animation: backInUp 1s;
    
}

.botones{
    width: 100%;
    display: flex;
    justify-content: center;
}

img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

input{
    margin: 10px;
}

main{
    flex: 1;
    width: 100%;
}

button{
    width: 100%;
    border-radius: 25px;
    padding: .5rem;
    background-color: lightgreen;
}

p{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 720px) {
    div, form{
        flex-direction: row;
        flex-wrap: wrap;
    }

    p{
        width: 49%;
    }
}
