@import "fonts.css";

*,
*:before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fuente-primaria: "MartelSans";
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

body{
    font-family: var(--fuente-primaria);
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
}


/*=============================================
=            Estilos del header            =
=============================================*/

header{
    background-color: black;
    color: white;
    display: flex;
    gap: 1rem;
}

header a{
    text-decoration: none;
    color: white;
}

.header_logo{
    width: 12%;
}

header nav svg{
    max-width: 4vw;
    max-height: 4vh;
    fill: white; 
    color: white;
    
}

.nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
}

.nav__ul{
    display: flex;
    gap: 2.5rem;
    align-self: flex-end;
}

.nav__ul li:first-of-type{
    font-weight: bold;
}

.nav__ul>li{
    list-style: none;
}


/*=====  End of Estilos del header  ======*/



/*=============================================
=            Estilos del main            =
=============================================*/

main{
    flex: 1;
}

/*=====  End of Estilos del main  ======*/




